body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place it behind other elements */
    overflow: hidden;
}

#bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire background */
}

header {
    color: white;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background to make text readable */
}

main {
    padding: 20px;
    color: white;
}

.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

footer {
    color: white;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}
